.abyss-window {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: top;
    justify-content: space-between;
}

.abyss-floor-frame {
    margin-top: 5px;
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 5px;
    width: 47%;
}

.abyss-side-frame {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.abyss-side-frame > .character-window {
    margin-right: auto;
}

.abyss-side-frame > button {
    margin-right: auto;
}

.abyss-side-frame.minimized {
    display: none;
}

.abyss-floor-label {
    color: white;
    width: 50%;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 5px 5px 5px;
    
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-family: sans-serif;

    transition-duration: 0.4s;
}

.abyss-floor-label:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.abyss-button {
    background-color: #4caf50;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    transition-duration: 0.4s;
}


.abyss-button:hover {
    background-color: white;
    color: black;
    border: 2px solid #4caf50;
}

.abyss-button.active {
    background-color: white;
    color: black;
    box-shadow: 0 0 20px white;
}

.character-icon.char-banned {
    opacity: 0.3;
}

.character-icon > img.crown-icon {
    position: relative;
    margin-right: -50px;
    height: auto;
    width: 50px;
    left: -52px;
    bottom: 65px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 20px rgba(255, 255, 255);
    z-index: 1;
    transform: translate(-50%, -50%);
}

.abyss-team1 {
    overflow: visible;
    box-shadow: 0px 15px 0px 0px #C0FF40 inset,
        0px -4px 0px 0px #C0FF40 inset,
        4px 0px 0px 0px #C0FF40 inset,
        -4px 0px 0px 0px #C0FF40 inset;
}

.abyss-team1:hover {
    box-shadow: 0px 15px 0px 0px #C0FF40 inset,
        0px -4px 0px 0px #C0FF40 inset,    
        4px 0px 0px 0px #C0FF40 inset,
        -4px 0px 0px 0px #C0FF40 inset,
        0px 0px 30px 0px white inset;
        
}

.abyss-team2 {
    overflow: visible;
    box-shadow: 0px 15px 0px 0px #00A0E9 inset,
        0px -4px 0px 0px #00A0E9 inset,
        4px 0px 0px 0px #00A0E9 inset,
        -4px 0px 0px 0px #00A0E9 inset;
}

.abyss-team2:hover {
    box-shadow: 0px 15px 0px 0px #00A0E9 inset,
        0px -4px 0px 0px #00A0E9 inset,    
        4px 0px 0px 0px #00A0E9 inset,
        -4px 0px 0px 0px #00A0E9 inset,
        0px 0px 30px 0px white inset;
        
}

